.wrapper {
    margin: 4.5625rem 2.1875rem;
}


.card {
    margin-bottom: 2rem;
    padding: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0.5rem;
}

.flex-group {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.06rem;
}

img {
    border-radius: 50%;
    width: 1.75rem;
    height: 1.75rem;
    align-self: center;
;
}

.paragraph {
    display: flex;
    flex-direction: column;
    gap: .675rem;
}