.card {
    padding: 2rem 2rem 2rem 2rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0.5rem;
}

.flex-group {
    display: flex;
    flex-direction: row;
    gap: 1.06rem;
}

.profile-img {
    border-radius: 50%;
    width: 1.75rem;
    height: 1.75rem;
    align-self: center;
}

.status {
    display: grid;
    padding-top: 0.25rem;
}

.paragraph {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: .675rem;
}

