.wrapper {
    margin: 4.5625rem auto;

    @media (min-width: 23.4375rem) {
        margin: 4.5625rem auto;
        width: 19.0625rem;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "a" "b" "c" "d" "e";
        gap: 2rem;
    }


    @media (min-width: 48rem) {
      
        margin: 5.1875rem 3.8125rem 5.1875rem 3.75rem;
        width: 40.4375rem;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "a a " "b c" "d d" "e e";
        // gap: 2rem;

        .card {
            position: relative;;
        }
        .accent-img {
        display: block;
        width: 6.5rem;
        height: 6.375rem;
        position: absolute;
        top: 0rem;
        right: 10.5rem;
        z-index: 0;            
        }
        .highlighted-quote {
            position: relative;
            z-index: 1;
        }

    }

    @media (min-width: 90rem) {
    
        margin: 14.3125rem 10.0625rem 14.3125rem 10.3125rem;
        width: 69.625rem;
        height: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        "a a b e" 
        "c d d e";
        

        .accent-img {
            right: 3.9rem;
        }
        .card-1 {
            width: 33.75rem;
            height: 18rem;
        }
        .card-2 {
            width: 15.9375rem;
            height: 18rem;
        }
        .card-3 {
            width: 15.9375rem;
            height: 16.8125rem
        }
        .card-4 {
            width: 33.75rem;
            height: 16.875rem;
        }
        .card-5 {
            width: 15.9375rem;
            height: 36.875rem;
        }
    }

    :nth-child(1) {
        grid-area: a;
    }
    :nth-child(2) {
        grid-area: b;
    }
    :nth-child(3) {
        grid-area: c;
    }
    :nth-child(4) {
        grid-area: d;
    }
    :nth-child(5) {
        grid-area: e;
    }
}